{% extends 'extractore/base.html'%}

{% block content%}
  <h3>New Form</h3>
  <form method="POST" class="user-form">{% csrf_token %}
    {{form}}
    <button type="submit" class="save btn btn-default">Save</button>
  </form>
{% endblock %}











<!-- {% extends 'extractore/base.html'%} -->

<!-- {% block content%} -->
<!--   <h3>New Form</h3> -->
<!--   <form method="POST" class="user-form">{% csrf_token %} -->
<!--     {% for f in form %} -->
<!--     <label class="control-label"><b>{{ formset.label }}</b></label> -->
<!--     {% endfor %} -->
<!--     <button type="submit" class="save btn btn-default">Save</button> -->
<!--   </form> -->
<!-- {% endblock %} -->

















