{% load staticfiles %}
<html>

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
  <link href="{% static 'css/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel='stylesheet prefetch' href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto:400,300,100,500'>
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
  <link rel='stylesheet prefetch' href='https://www.google.com/fonts#UsePlace:use/Collection:Roboto+Slab:400,700,300,100'>
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">

  <script src="{% static 'js/index.js' %}"></script>

  <head>

    <title>Django Girls blog</title>
  </head>
  <body>
    {% block "header" %}
    {% endblock %}

    {% block "page" %}
    {% endblock %}
    {% block content %}
    {% endblock %}
  </body>

</html>
